@model UniversityTimetable.Models.ManagerViewModel
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            @using (Html.BeginForm("AddManager", "Admin", FormMethod.Post, new { id = "addGroupForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add user to managers</h4>
                </div>
                <div class="modal-body">

                    @Html.ValidationSummary()
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserId)
                        @Html.DropDownListFor(m => m.UserId, (SelectList)ViewBag.UserList, "  -----No user selected-----  ", new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
            <script>
            </script>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
