
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Admin panel</h2>
    <div class="row">
        <div class="col-md-2">
            <ol>
                <li><a>Reports</a></li>
                <li><a>Students</a></li>
                <li><a>Groups</a></li>
                <li><a>Managers</a></li>
                <li><a>News</a></li>
            </ol>
        </div>
        <div class="col-md-10">
        </div>
    </div>
</div>
