@*@using Newtonsoft.Json

@model IEnumerable<UniversityTimetable.Models.StudentViewModel>*@
    @{
        ViewBag.Title = "Reports";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    }

    <h3>Reports</h3>

    <h4>There will be reports...</h4>

    @section scripts {
        <script>

        </script>

    }
