@using DayPilot.Web.Mvc
@using DayPilot.Web.Mvc.Events.Calendar
@using DayPilot.Web.Mvc.Enums.Calendar


@{
    ViewBag.Title = "Timetables";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}


<h3>Timetables</h3>

<div class="space">
    Week:
    <a href="javascript:dpc.commandCallBack('previous');">Previous</a>
    |
    <a href="javascript:dpc.commandCallBack('today');">Today</a>
    |
    <a href="javascript:dpc.commandCallBack('next');">Next</a>
</div>

<script src="~/Scripts/daypilot-all.min.js"></script>

<script type="text/javascript">

	function createEvent(start, end, resource) {
	    modal().showUrl("@Url.Content("~/CalendarDialog/New")?start=" + start.toStringSortable() + "&end=" + end.toStringSortable());
	}

	function editEvent(id) {
	    modal().showUrl("@Url.Content("~/CalendarDialog/Edit/")" + id);
	}

	function modal() {
        var modal = new DayPilot.Modal();
        modal.top = "70";
	    modal.onClosed = function (args) {
	        if (args.result == "OK") {
	            dpc.commandCallBack('refresh');
	        }
	        dpc.clearSelection();
	    };
	    return modal;
	}

</script>

<div>

    @(Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
{
    BackendUrl = Url.Content("~/Calendar/Backend"),
    ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
    TimeFormat = DayPilot.Web.Mvc.Enums.TimeFormat.Clock24Hours,
    TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
    TimeRangeSelectedJavaScript = "createEvent(start, end)",
    EventMoveHandling = EventMoveHandlingType.CallBack,
    EventResizeHandling = EventResizeHandlingType.CallBack,
    EventClickHandling = EventClickHandlingType.JavaScript,
    EventClickJavaScript = "editEvent(e.value());",

    LoadingLabelText = "<img src='" + Url.Content("~/Content/img/ajax-loader-round.gif") + "' />",
    LoadingLabelBackColor = "",
}))
</div>




@*<div id="dpc"></div>*@


@section scripts {
    <script>
    @*var dp = new DayPilot.Calendar("dpc");
    dp.backendUrl = "/Calendar/Backend";
    dp.viewType = "Week";
    dp.timeFormat = "Clock24Hours";
    dp.businessBeginsHour = 9;
    dp.businessEndsHour = 18;
    dp.timeRangeSelectedHandling = "JavaScript";
    dp.EventClickHandling = "JavaScript";
    dp.onTimeRangeSelected = function (start, end) { create(start, end); };
    dp.eventMoveHandling = "CallBack";
    dp.eventResizeHandling = "CallBack";
    dp.init();

    function create(start, end) {
        var m = new DayPilot.Modal();
        m.closed = function () {
            if (this.result == "OK") {
                dp.commandCallBack('refresh');
            }
            dp.clearSelection();
        };
        m.showUrl('@Url.Action("Create", "Event")?start=' + start + '&end=' + end);
    }*@

    </script>
}
