@{
    ViewBag.Title = "About Stanford";
}
@*<h3>@ViewBag.Message</h3>*@
<div id="about" class="container">
    <div>
        <img src="~/Content/img/intro_about.jpg" class="pull-left img-responsive" />

        <h2>@ViewBag.Title</h2>

        <p class="lead">
            Stanford University, located between San Francisco and San Jose in the heart
            of California's Silicon Valley, is one of the world's leading teaching and
            research universities. Since its opening in 1891, Stanford has been dedicated
            to finding solutions to big challenges and to preparing students for leadership in a complex world.
        </p>
        <h2>The Birth of the University</h2>
        <p class="lead">In 1876, former California Governor Leland Stanford purchased 650 acres of Rancho San Francisquito for a country home and began the development of his famous Palo Alto Stock Farm. He later bought adjoining properties totaling more than 8,000 acres.</p>
        <p>The little town that was beginning to emerge near the land took the name Palo Alto (tall tree) after a giant California redwood on the bank of San Francisquito Creek. The tree itself is still there and would later become the university's symbol and centerpiece of its official seal.</p>
        <p>
            Leland Stanford, who grew up and studied law in New York, moved West after the gold rush and,
            like many of his wealthy contemporaries, made his fortune in the railroads. He was a leader of the
            Republican Party, governor of California and later a U.S. senator. He and Jane had one son, who died
            of typhoid fever in 1884 when the family was traveling in Italy. Leland Jr. was just 15. Within weeks of his death, the Stanfords decided that, because they no longer could do anything for their own child, &quot;the children of California
            shall be our children.&quot; They quickly set about to find a lasting way to memorialize their beloved son.
        </p>
        <p>
            The Stanfords considered several possibilities – a university, a technical school, a museum. While on the East Coast, they visited Harvard, MIT, Cornell and Johns Hopkins to seek advice on starting
            a new university in California. (<a href="https://library.stanford.edu/spc/faq#snubbed">See note regarding accounts of the Stanfords visit with Harvard President Charles W. Eliot</a>.) Ultimately, they decided to establish two institutions in Leland Junior's name - the University and a museum. From the outset they made some untraditional
            choices: the university would be coeducational, in a time when most were all-male; non-denominational,
            when most were associated with a religious organization; and avowedly practical, producing &quot;cultured
            and useful citizens.&quot;
        </p>
        <p>
            On October 1, 1891, Stanford University opened its doors after six years of planning and building. The prediction of a New York newspaper that  Stanford professors would &quot;lecture in marble halls
            to empty benches&quot; was
            quickly disproved. The first student body consisted of 555 men and women, and the original faculty
            of 15 was expanded to 49 for the second year. The university’s first president was David Starr Jordan,
            a graduate of Cornell, who left his post as president of Indiana University to join the adventure
            out West.
        </p>
        <p>
            The Stanfords engaged Frederick Law Olmsted, the famed landscape architect
            who created New York’s Central Park, to design the physical plan for the
            university. The collaboration was contentious, but finally resulted in an
            organization of quadrangles on an east-west axis. Today, as Stanford continues
            to expand, the university’s architects attempt to respect those original
            university plans.
        </p>
    </div>
</div>
