@model UniversityTimetable.Models.NewsViewModel

<div id="news" class="container">

    <article>
        <img src="@Model.Img" alt="" style="width: 160px;" class="pull-left img-responsive" />
        <h2>@Model.Title</h2>

        <p>@Model.Content</p>

    </article>
    @Html.ActionLink("Go to news list", "News", "Home", null, null)


</div>