@model IEnumerable<UniversityTimetable.Models.NewsViewModel>

<script>
    function ellipsify(str) {
        if (str.length > 500) {
            return (str.substring(0, 500) + "...");
        }
        else {
            return str;
        }
    }
</script>

<div id="news" class="container">
    @foreach (var item in Model)
    {
        <article>
            <img src="@item.Img" alt="" style="width: 160px;" class="pull-left img-responsive" />
            <h2>@item.Title</h2>

            <p><script>document.write(ellipsify(`@item.Content`))</script></p>

            @Html.ActionLink("More...", "GetDetailNews", "Home", new { id = item.Id }, null)
        </article>
    }
</div>
